#admin_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    height: 80dvh;
}

.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50vh;
    height: 50vh;
    min-width: 250px;
    padding: 3rem 2rem;

    background: var(--primary);
    border: 2px solid var(--text);
    border-radius: 1rem;

    color: var(--accent);

    & h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    & label {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    & input {
        padding: 0.4rem 1rem;
        margin-bottom: 1.5rem;

        background: var(--accent);
        border: 1px solid var(--text);
        border-radius: 5px;

        font-size: 1.5rem;
    }

    & textarea {
        height: 10rem;
        padding: 0.5rem;

        background: var(--accent);
        border: 1px solid var(--text);
        border-radius: 5px;
    }

    & button {
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 0.4rem 0;

        background: var(--bg-1);
        border: 2px solid var(--text);
        border-radius: 10px;

        cursor: pointer;
    }

    & button:hover {
        background: var(--bg-2);
    }
}

#post_list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    height: 80%;

    background: var(--accent);
    border: 1px solid var(--text);
    border-radius: 5px;

    overflow-y: scroll;

    & .pl-item {
        padding: 0.5rem 2rem;
        margin: 0;
        
        border: 1px solid var(--subtext);
        border-radius: 0;

        text-align: left;

        &.active {
            background: lightblue;
        }
    }
}

