:root {
  --primary: #E73C37;
  --secondary: #1e4394;
  --accent: #f7f2ed;
  --bg-1: #f7efe7;
  --bg-2: #bfb0a0;
  --text: #312c38;
  --subtext: #6c6d77;

  --icon-1: invert(47%) sepia(2%) saturate(1599%) hue-rotate(197deg) brightness(88%) contrast(86%);
  ;
  --icon-2: invert(41%) sepia(24%) saturate(7420%) hue-rotate(337deg) brightness(89%) contrast(103%);
  ;
}

* {
  margin: 0;
}

body {
  background: var(--bg-1);

  font-family: 'calibri', 'sans-serif';
}

main {
  padding: 2rem 10%;
}